@import "tailwindcss";


/* Terminal-style scrollbar */
.terminal-scroll::-webkit-scrollbar {
  width: 6px;
}

.terminal-scroll::-webkit-scrollbar-thumb {
  background: rgba(16, 185, 129, 0.4);
}

.terminal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.project-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 1px solid rgba(16, 185, 129, 0.6); /* emerald-500 */
  background: rgba(0, 0, 0, 0.4);
}


.project-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(16,185,129,0.05),
    rgba(16,185,129,0.05) 1px,
    transparent 1px,
    transparent 3px
  );
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}

/* Terminal scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #020202;
}
::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 4px;
}
